/* Header */

header {
  display: flex;
}

.logo {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 196px;
  text-decoration: none;
}

.logo p {
  /* color: #bf963e; */
  color: rgb(240, 0, 120);
  margin: auto;
  margin-bottom: 5%;
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;
}

.fa-film {
  font-size: 5rem;
  /* color: #bf963e; */
  color: rgb(240, 0, 120);
}

nav {
  display: flex;
  flex: 6;
}

nav a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #454372;
  margin-left: 0;
  margin-top: 4px;
}

nav a::after {
  content: "";
  background-color: rgb(240, 0, 120);
  width: 100%;
  height: 4px;
  display: block;
  position: relative;
  top: 44px;
  opacity: 0;
}

.social a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 1.5rem;
}

nav a:hover {
  color: rgb(240, 0, 120);
}

nav a:hover::after {
  opacity: 1;
}

nav ul {
  list-style: none;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

nav li {
  margin: auto;
}

.social {
  display: flex;
  flex: 1;
}

.fa-facebook-square, .fa-instagram-square, .fa-twitter-square {
  color: #454372;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-instagram-square:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-twitter-square:hover {
  color: #1da1f2;
}

/* Banner */

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f2963;
  margin: 0 -8px 0 -8px;
  min-height: 500px;
}

.main_header {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-family: 'Monoton', 'Monserrat', sans-serif;
  font-size: 2.5rem;
  word-spacing: 10px;
}

.main_header h1 {
  font-weight: lighter;
  text-align: center;
  margin: auto;
  animation: neon 0.08s ease-in-out infinite alternate;
}

.driveColor {
  animation: neonDrive 0.08s ease-in-out infinite alternate;
}

/* Movies list */

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: aliceblue;
  background-color: #2f2963;
  padding: 2%;
  margin-left: -8px;
  margin-right: -8px;
}

.posters {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  margin: 5% 10%;
}

.posters article {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  width: 460px;
  height: 700px;
  opacity: 0;
}

.poster:hover > .card {
  transition: opacity ease-in-out 250ms;
  opacity: 1;
  background-color: rgba(236, 236, 236, 0.95);
}

.poster:hover > .card_moonlight {
  width: 514px;
}

.poster:hover > .card_girl {
  width: 476px;
}

.poster:hover > .card_haine {
  width: 513px;
}

.poster:hover > .card_her {
  width: 471px;
}

.poster:hover > .card_imitation {
  width: 514px;
}

.poster:hover > .card_lobster, .card_melancholia {
  width: 525px;
}

.card ul {
  list-style-type: none;
}

.card p, .card a, .card h3, .card h4, .card ul {
  margin-left: 15px;
  margin-right: 15px;
}

.poster img {
  box-shadow: 0 0 6px 1px rgb(131, 131, 131);
}

/* Newsletter & Reservation */

.newsletter, .reservation {
  /*min-height: 400px;*/
  margin: 5% 0 5% 0;
}

.newsletter h2, .reservation h2 {
  margin-bottom: 55px;
}

/* Buttons */

.button {
  text-align: center;
  font: bold 1rem 'Montserrat', sans-serif;
  text-decoration: none;
  color: rgb(240, 0, 120);
  padding: 2px 6px 2px 6px;
  border: solid 1px black;
  width: fit-content;
}

.button:hover {
  border: solid 1px rgb(240, 0, 120);
  box-shadow: 3px 3px 2px 1px rgb(240, 0, 120);
}

.dropdown_button {
  display: none;
}

/* Forms */

form {
  width: fit-content;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

form input {
  border-color: rgb(240, 0, 120);
  border-width: 0 0 1px 0;
  height: 2rem;
}

form textarea {
  border-color: rgb(240, 0, 120);
}

form select {
  border-color: rgb(240, 0, 120);
  border-width: 0 0 1px 0;
  height: 2rem;
}

form label {
  padding: 2% 0 2% 0;
}

.form__infos {
  display: flex;
  flex-direction: column;
}

.form__news-info {
  display: flex;
  flex-direction: column;
}

.form__btn {
  font: bold 1rem 'Montserrat', sans-serif;
  text-decoration: none;
  color: rgb(240, 0, 120);
  padding: 2px 6px 2px 6px;
  border: solid 1px black;
  margin-top: 1rem;
}

.form__btn:hover {
  border: solid 1px rgb(240, 0, 120);
  box-shadow: 3px 3px 2px 1px rgb(240, 0, 120);
  cursor: pointer;
}

.message {
  height: 100px;
  max-width: 100%;
}

/* Contact */

.container_form_map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.form_contact {
  margin: 0;
}

.map {
  margin: 0 5% 0 0;
}

.phone {
  margin-top: 1%;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.phone p {
  margin-left: 3px;
}

.fa-phone-square-alt {
  font-size: 3rem;
  color: #454372;
}

/* Body */

body {
  margin-bottom: 0;
}

/* Footer */

footer {
  font-family: 'Montserrat', sans-serif;
  background-color: #70877f;
  margin: 1% -8px 0 -8px;
  padding: 1%;
  text-align: left;
}

footer a {
  text-decoration: none;
  color: aliceblue;
  margin: auto;
}

/* Animations */

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }

  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px rgba(30, 132, 242, 1);
  }
}

@keyframes neonDrive {
  from {
    text-shadow: 0 0 6px rgba(228, 206, 202, 0.92), 0 0 30px rgba(228, 209, 202, 0.34), 0 0 12px rgba(240, 0, 120, 0.52), 0 0 21px rgba(240, 0, 120, 0.92), 0 0 34px rgba(240, 0, 120, 0.78), 0 0 54px rgba(240, 0, 120, 0.92);
  }

  to {
    text-shadow: 0 0 6px rgba(228, 206, 202, 0.98), 0 0 30px rgba(228, 209, 202, 0.42), 0 0 12px rgba(240, 0, 120, 0.58), 0 0 22px rgba(240, 0, 120, 0.84), 0 0 38px rgba(240, 0, 120, 0.88), 0 0 60px rgba(240, 0, 120, 1);
  }
}

/* Media Queries */

@media all and (max-width: 1439px) {
  @-webkit-viewport {
    width: device-width;
  }
  .posters {
    flex-direction: column;
  }
  .poster {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .social {
    display: none;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
    
  }
  .dropdown_content {
    display: none;
  }
  .dropdown_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    border: none;
  }
  .fa-bars {
    font-size: 3rem;
  }
}