/* Header */

header {
  display: flex;
}

.logo {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 196px;
  text-decoration: none;
}

.logo p {
  color: #bf963e;
  margin: auto;
  margin-bottom: 5%;
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;
}

.fa-film {
  font-size: 5rem;
  color: #bf963e;
}

nav {
  display: flex;
  flex: 6;
}

nav a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #bf963e;
}

.social a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 1.5rem;
}

nav a:hover {
  color: #70877f;
  border-bottom: solid 1px;
}

nav ul {
  list-style: none;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

nav li {
  margin: auto;
}

.social {
  display: flex;
  flex: 1;
}

.fa-facebook-square {
  color: #bf963e;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-instagram-square {
  color: #bf963e;
}

.fa-instagram-square:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-twitter-square {
  color: #bf963e;
}

.fa-twitter-square:hover {
  color: #1da1f2;
}

/* Banner */

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f2963;
  margin: 0 -8px 0 -8px;
  min-height: 500px;
}

.main_header {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-family: 'Monoton', 'Monserrat', sans-serif;
  font-size: 2.5rem;
  word-spacing: 10px;
}

.main_header h1 {
  font-weight: lighter;
  text-align: center;
  margin: auto;
  animation: neon 0.08s ease-in-out infinite alternate;
}

/* Movies list */

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: aliceblue;
  background-color: #2f2963;
  padding: 2%;
  margin-left: -8px;
  margin-right: -8px;
}

.poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
}

.poster article {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.card ul {
  list-style-type: none;
}

.card p, a, h3, h4 {
  margin-left: 30px;
}

/* Buttons */

.button {
  text-align: center;
  font: bold 1rem 'Montserrat', sans-serif;
  text-decoration: none;
  color: rgb(240, 0, 120);
  padding: 2px 6px 2px 6px;
  border: solid 1px black;
  width: fit-content;
}

.button:hover {
  border: solid 1px rgb(240, 0, 120);
  box-shadow: 3px 3px 2px 1px rgb(240, 0, 120);
}

/* Forms */

form {
  width: fit-content;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

.form__infos {
  display: flex;
  flex-direction: column;
}

.form__news-info {
  display: flex;
  flex-direction: column;
}

.form__btn {
  font: bold 1rem 'Montserrat', sans-serif;
  text-decoration: none;
  color: rgb(240, 0, 120);
  padding: 2px 6px 2px 6px;
  border: solid 1px black;
  margin-top: 1rem;
}

.form__btn:hover {
  border: solid 1px rgb(240, 0, 120);
  box-shadow: 3px 3px 2px 1px rgb(240, 0, 120);
  cursor: pointer;
}

/* Body */

body {
  margin-bottom: 0;
}

/* Footer */

footer {
  font-family: 'Montserrat', sans-serif;
  background-color: #70877f;
  margin: 1% -8px 0 -8px;
  padding: 1%;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: aliceblue;
  margin: auto;
}

/* Animations */

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }

  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px rgba(30, 132, 242, 1);
  }
}
